@media (min-width: 541px) {
    .svg-mobile {
        display: none;
    }
    .svg-full {
        display: block;
    }
}

@media (max-width: 540px) {
    body {
        width: 80;
        height: 80;
    }
    .svg-full {
        display: none;
    }
    .svg-mobile {
        display: block;
    }
    .main-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .container-piano {
        width: 90%;
        height: 60%;
        margin-top: 2rem;
        /* background-color: lightblue; */
    }
    .container-piano img {
        object-position: center;
    }
    .container-icons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* background-color: rgb(230, 191, 173); */
    }
    .icon {
        /* display: inline-block; */
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .icon img {
        width: 25%;
    }
    .icon span {
        font-size: .7rem;
    }
}