@media (min-width: 541px) {
    .svg-mobile {
        display: none;
    }
    .svg-full {
        display: block;
    }
}

@media (max-width: 540px) {
    body {
        width: 80;
        height: 80;
    }
    .svg-full {
        display: none;
    }
    .svg-mobile {
        display: block;
    }
    .main-container {
        flex-direction: column;
    }
    .container-piano {
        width: 90%;
        height: 70%;
        margin-top: 6rem;
        /* background-color: lightblue; */
    }
    .container-piano img {
        object-position: center;
    }
    .container-icons {
        width: 100%;
        height: 50%;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        /* background-color: rgb(230, 191, 173); */
    }
    .icon {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .icon img {
        /* width: max(5%, 30px); */
        width: 3.5rem;
    }
    .icon a {
        font-size: 1rem;
    }
}