.card-title {
    fill: black;
    /* animation: title-fill 1s ease forwards;
    animation-delay: 5s; */
    /* border: 1px solid red; */
}

#txt-01 {
    text-anchor: middle;
    font-size: 4rem;
    letter-spacing: .5rem;
    stroke-dasharray: 2200px;
    stroke-dashoffset: 2200px;
    stroke: rgb(0, 0, 0);
    stroke-width: 1px;
    /* animation: title-anim 10s ease-in-out forwards; */
}

#txt-02 {
    text-anchor: middle;
    font-size: 4rem;
    letter-spacing: .5rem;
    stroke-dasharray: 2200px;
    stroke-dashoffset: 2200px;
    stroke: rgb(0, 0, 0);
    stroke-width: 1px;
    /* animation: title-anim 10s ease-in-out forwards; */
}

@keyframes title-anim {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes title-fill {
    from {
        fill: transparent;
    }
    to {
        fill: rgb(0, 0, 0);
    }
}