@media (orientation: portrait) {
    #background {
        position: relative;
        width: 100vw;
        height: 100vh;
        margin: 0 auto;
        background-image: url(images/Background90deg.png);
        background-size: contain;
    }
    #piano {
        width: 100vw;
        height: 65vh;
        position: absolute;
        background-image: url(images/Piano90deg.png);
        background-repeat: no-repeat;
        background-size: contain;
        /* border: 1px solid blue; */
    }
    #logo {
        display: none;
    }
    #logo-rotate {
        /* fill: black; */
        /* border: 1px solid red; */
        width: 20vw;
        height: 65vh;
        position: absolute;
        right: 2%;
        bottom: 1%;
        animation: fill-line 10s ease forwards 3s;
    }
    #logo-rotate path:nth-child(1) {
        fill: transparent;
        stroke-width: 0.1px;
        stroke: rgb(0, 0, 0);
        stroke-dasharray: 283px;
        stroke-dashoffset: 283px;
        animation: line-anim 10s ease forwards;
    }
    #logo-rotate path:nth-child(2) {
        fill: transparent;
        stroke-width: 0.1px;
        stroke: black;
        stroke-dasharray: 101px;
        stroke-dashoffset: 101px;
        animation: line-anim 5s ease forwards 3s;
    }
    #logo-rotate path:nth-child(3) {
        fill: transparent;
        stroke-width: 0.1px;
        stroke: black;
        stroke-dasharray: 134px;
        stroke-dashoffset: 134px;
        animation: line-anim 5s ease forwards 3.3s;
    }
    #logo-rotate path:nth-child(4) {
        fill: transparent;
        stroke-width: 0.1px;
        stroke: black;
        stroke-dasharray: 214px;
        stroke-dashoffset: 214px;
        animation: line-anim 5s ease forwards 3.6s;
    }
    #logo-rotate path:nth-child(5) {
        fill: transparent;
        stroke-width: 0.1px;
        stroke: black;
        stroke-dasharray: 126px;
        stroke-dashoffset: 126px;
        animation: line-anim 5s ease forwards 3.9s;
    }
    #logo-rotate path:nth-child(6) {
        fill: transparent;
        stroke-width: 0.1px;
        stroke: black;
        stroke-dasharray: 101px;
        stroke-dashoffset: 101px;
        animation: line-anim 5s ease forwards 4.2s;
    }
    #logo-rotate path:nth-child(7) {
        fill: transparent;
        stroke-width: 0.1px;
        stroke: rgb(0, 0, 0);
        stroke-dasharray: 991px;
        stroke-dashoffset: 991px;
        animation: line-anim 16s ease forwards;
    }
    #logo-rotate path:nth-child(8) {
        fill: transparent;
        stroke-width: 0.1px;
        stroke: black;
        stroke-dasharray: 87px;
        stroke-dashoffset: 87px;
        animation: line-anim 5s ease forwards 4.5s;
    }
    #logo-rotate path:nth-child(9) {
        fill: transparent;
        stroke-width: 0.1px;
        stroke: black;
        stroke-dasharray: 214px;
        stroke-dashoffset: 214px;
        animation: line-anim 5s ease forwards 4.8s;
    }
    #logo-rotate path:nth-child(10) {
        fill: transparent;
        stroke-width: 0.1px;
        stroke: black;
        stroke-dasharray: 144px;
        stroke-dashoffset: 144px;
        animation: line-anim 5s ease forwards 5.1s;
    }
    #logo-rotate path:nth-child(11) {
        fill: transparent;
        stroke-width: 0.1px;
        stroke: black;
        stroke-dasharray: 101px;
        stroke-dashoffset: 101px;
        animation: line-anim 5s ease forwards 5.4s;
    }
    #logo-rotate path:nth-child(12) {
        fill: transparent;
        stroke-width: 0.1px;
        stroke: black;
        stroke-dasharray: 152px;
        stroke-dashoffset: 152px;
        animation: line-anim 5s ease forwards 5.7s;
    }
    #logo-rotate path:nth-child(13) {
        fill: transparent;
        stroke-width: 0.1px;
        stroke: black;
        stroke-dasharray: 97px;
        stroke-dashoffset: 97px;
        animation: line-anim 5s ease forwards 6s;
    }
    #logo-rotate path:nth-child(14) {
        fill: transparent;
        stroke-width: 0.1px;
        stroke: black;
        stroke-dasharray: 120px;
        stroke-dashoffset: 120px;
        animation: line-anim 5s ease forwards 6.3s;
    }
    #logo-rotate path:nth-child(15) {
        fill: transparent;
        stroke-width: 0.1px;
        stroke: black;
        stroke-dasharray: 229px;
        stroke-dashoffset: 229px;
        animation: line-anim 5s ease forwards 6.6s;
    }
    #logo-rotate path:nth-child(16) {
        fill: transparent;
        stroke-width: 0.1px;
        stroke: black;
        stroke-dasharray: 74px;
        stroke-dashoffset: 74px;
        animation: line-anim 5s ease forwards 6.9s;
    }
}